.login {
    width: 100%;
    height: calc(100vh - 50px);

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            width: 400px;
            border: 1px solid rgba($color: #000000, $alpha: .4);
            border-radius: 30px;
        }

        .operation-btn {
            margin-top: 20px;
        }
    }
}

