.context {
  background-color: black;
  height: 70px;

  a {
    color: white !important;
  }

  .link-container {
    a {
      margin-right: 20px;
    }
    .logout_btn {
      color: white;
      cursor: pointer;
    }
  }
  
  .collapse {
    justify-content: end;
  }
}